.btn {
    display: inline-block;
    border: none;
    font-weight: 600;
    font-size: functions.toRem(14);
    border-radius: 20px;
    cursor: pointer;
    padding: 7px 15px;
    text-decoration: none;
    &.btn-solid {
        background-color: var(--accent-color);
        color: #000;
        border: 2px solid var(--accent-color);
    }
    &.btn-outline {
        background: none;
        color: var(--text-color);
        border: 2px solid;
    }
    &.btn-danger {
        background-color: var(--error);
        color: #fff;
        border: 2px solid var(--error);
    }
    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }
    &:hover {
        &.btn-solid,
        &.btn-danger {
            background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
        }
        &.btn-outline {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0 0);
        }
    }
    &:active {
        &.btn-solid,
        &.btn-danger {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0 0);
        }
        &.btn-outline {
            background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0 0);
        }
    }
}